8회 기출

1. 대륙(continent)별 맥주 소비량('beer_servings')의 평균을 계산하고, 평균이 가장 큰 대륙을 찾으시오.
2. 1번에서 찾은 대륙에서 맥주 소비량이 5번째로 많은 국가('country')의 맥주 소비량을 구하시오.

In [4]:
import pandas as pd
df = pd.read_csv('/Users/iseonjae/Desktop/빅데이터분석기사/8회기출/drinks.csv')

In [6]:
print(df.shape)
print(df.head())
print(df.info())

(193, 6)
       country  beer_servings  spirit_servings  wine_servings  \
0  Afghanistan              0                0              0
1      Albania             89              132             54
2      Algeria             25                0             14
3      Andorra            245              138            312
4       Angola            217               57             45

   total_litres_of_pure_alcohol continent
0                           0.0      Asia
1                           4.9    Europe
2                           0.7    Africa
3                          12.4    Europe
4                           5.9    Africa
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 6 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   country                       193 non-null    object
 1   beer_servings                 193 non-null    int64
 2   spirit_servings               193 non-null    int64
 3   wine_servings                 193 non-null    int64
 4   total_litres_of_pure_alcohol  193 non-null    float64
 5   continent                     193 non-null    object
dtypes: float64(1), int64(3), object(2)
memory usage: 9.2+ KB
None

In [20]:
# 대륙별 맥주 소비량의 평균 계산
df2 = df.pivot_table(index='continent', values='beer_servings', aggfunc='mean').reset_index()

# 평균이 가장 큰 대륙 찾기
print(df2.sort_values(by='beer_servings', ascending=False).iloc[0,0])

Europe

In [40]:
# 유럽에서 맥주 소비량이 5번째로 많은 국가의 맥주 소비량 구하기
cond1 = df['continent'] == 'Europe'
print(df.loc[cond1].sort_values(by='beer_servings', ascending=False).head().iloc[4,1])

313

1. '관광객비율'이 두 번째로 높은 국가의 '사업' 방문객 수를 a라고 정의하시오.
2. '관광'이 두 번째로 높은 국가의 '공무' 방문객 수를 b라고 정의하시오.
3. a와 b의 합을 구하시오.
- 방문객 합계 = 관광 + 공무 + 사업 + 기타
- 관광객 비율 = 관광 / 방문객 합계

In [43]:
import pandas as pd
df = pd.read_csv('/Users/iseonjae/Desktop/빅데이터분석기사/8회기출/tourist.csv')

In [45]:
print(df.shape)
print(df.head())
print(df.info())

(100, 5)
    나라    관광   공무   사업   기타
0  국가1  1184  270  380   55
1  국가2  1059  184  267   86
2  국가3  1129  168  261   50
3  국가4   692  106  214  125
4  국가5  1335  296  296   84
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   나라      100 non-null    object
 1   관광      100 non-null    int64
 2   공무      100 non-null    int64
 3   사업      100 non-null    int64
 4   기타      100 non-null    int64
dtypes: int64(4), object(1)
memory usage: 4.0+ KB
None

In [49]:
# 방문객 합계 구하기
df['방문객합계'] = df['관광'] + df['공무'] + df['사업'] + df['기타']

# 관광객 비율 구하기
df['관광객비율'] = df['관광'] / df['방문객합계']

In [53]:
print(df.head())

    나라    관광   공무   사업   기타  방문객합계     관광객비율
0  국가1  1184  270  380   55   1889  0.626787
1  국가2  1059  184  267   86   1596  0.663534
2  국가3  1129  168  261   50   1608  0.702114
3  국가4   692  106  214  125   1137  0.608619
4  국가5  1335  296  296   84   2011  0.663849

In [61]:
a = df.sort_values(by='관광객비율', ascending=False).head(2).iloc[1,3]
print(a)

203

In [71]:
# 관광이 두 번째로 높은 나라의 공무 방문객 수 구하기
b = df.sort_values(by='관광', ascending=False).head(2).iloc[1,2]
print(b)

238

In [73]:
print(a+b)

441

1. 주어진 데이터에서 'co'와 'nmhc' 컬럼을 각각 Min-Max 스케일링하시오.
2. 스케일링된 'co', 'rmhc' 컬럼의 표준편차를 각각 구하시오.
3. 'co' 컬럼의 표준편차에서 'nmhc' 컬럼의 표준편차를 뺀 값을 소수점 3자리로 반올림하여 구하시오.
- Min-Max 스케일링 = (X - min_X) / (Max_X - min_X)
- X 변수의 최솟값 : min_X
- X 변수의 최댓값 : max_X

In [76]:
import pandas as pd
df = pd.read_csv('/Users/iseonjae/Desktop/빅데이터분석기사/8회기출/chem.csv')

In [78]:
print(df.shape)
print(df.head())
print(df.info())

(100, 4)
  sample   co  nmhc  etc
0    샘플1   79    54   31
1    샘플2   84    57   58
2    샘플3  109    74  113
3    샘플4   15    77   21
4    샘플5   65    77  115
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   sample  100 non-null    object
 1   co      100 non-null    int64
 2   nmhc    100 non-null    int64
 3   etc     100 non-null    int64
dtypes: int64(3), object(1)
memory usage: 3.3+ KB
None

In [112]:
# Min-Max Scaling
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df['co_scaled'] = scaler.fit_transform(df[['co']])
df['nmhc_scaled'] = scaler.fit_transform(df[['nmhc']])

In [114]:
print(df.head())

  sample   co  nmhc  etc  co_scaled  nmhc_scaled
0    샘플1   79    54   31   0.680851     0.500000
1    샘플2   84    57   58   0.734043     0.534091
2    샘플3  109    74  113   1.000000     0.727273
3    샘플4   15    77   21   0.000000     0.761364
4    샘플5   65    77  115   0.531915     0.761364

In [119]:
# 표준편차 구하기
r1 = df['co_scaled'].std()
r2 = df['nmhc_scaled'].std()

In [121]:
print(r1)
print(r2)

0.2856516497116944
0.3030617020578397

In [123]:
print(round(r1-r2, 3))

-0.017

통신사에서 고객에게 청구될 총 금액을 예측하시오. (MAE)

In [146]:
import pandas as pd
train = pd.read_csv('/Users/iseonjae/Desktop/빅데이터분석기사/8회기출/churn_train.csv')
test = pd.read_csv('/Users/iseonjae/Desktop/빅데이터분석기사/8회기출/churn_test.csv')

In [148]:
# 탐색적 자료 분석
# 데이터 개수 파악
print(train.shape)
print(test.shape)

(4116, 19)
(1764, 18)

In [150]:
# 데이터 미리보기 
print(train.head())
print(test.head())

  customerID  gender  SeniorCitizen Partner Dependents  tenure PhoneService  \
0   CUST0454    Male              0      No         No       7          Yes
1   CUST1145  Female              1      No        Yes      53           No
2   CUST1138  Female              1      No        Yes      68           No
3   CUST2645    Male              1      No        Yes      44           No
4   CUST2632    Male              0     Yes         No       7          Yes

      MultipleLines InternetService       OnlineSecurity         OnlineBackup  \
0               Yes              No  No internet service  No internet service
1  No phone service     Fiber optic                  Yes                  Yes
2  No phone service             DSL                  Yes                  Yes
3  No phone service              No  No internet service  No internet service
4               Yes     Fiber optic                   No                  Yes

      DeviceProtection          TechSupport          StreamingTV  \
0  No internet service  No internet service  No internet service
1                   No                  Yes                  Yes
2                  Yes                   No                   No
3  No internet service  No internet service  No internet service
4                  Yes                   No                  Yes

       StreamingMovies        Contract PaperlessBilling     PaymentMethod  \
0  No internet service        Two year               No  Electronic check
1                  Yes  Month-to-month               No       Credit card
2                  Yes  Month-to-month               No      Mailed check
3  No internet service  Month-to-month              Yes       Credit card
4                   No        One year               No  Electronic check

   TotalCharges
0        163.45
1       4140.89
2       5152.36
3       5251.84
4        725.69
  customerID  gender  SeniorCitizen Partner Dependents  tenure PhoneService  \
0   CUST0769    Male              1      No        Yes      47          Yes
1   CUST0675    Male              1     Yes        Yes      12           No
2   CUST0210    Male              1      No        Yes      59          Yes
3   CUST3795  Female              0      No         No      13          Yes
4   CUST1829    Male              0     Yes        Yes      20          Yes

      MultipleLines InternetService       OnlineSecurity         OnlineBackup  \
0               Yes     Fiber optic                   No                  Yes
1  No phone service     Fiber optic                   No                  Yes
2                No              No  No internet service  No internet service
3                No              No  No internet service  No internet service
4                No     Fiber optic                   No                   No

      DeviceProtection          TechSupport          StreamingTV  \
0                  Yes                  Yes                   No
1                   No                  Yes                  Yes
2  No internet service  No internet service  No internet service
3  No internet service  No internet service  No internet service
4                  Yes                  Yes                  Yes

       StreamingMovies        Contract PaperlessBilling     PaymentMethod
0                  Yes  Month-to-month              Yes       Credit card
1                   No        One year               No      Mailed check
2  No internet service        Two year              Yes       Credit card
3  No internet service        One year              Yes      Mailed check
4                   No        Two year              Yes  Electronic check

In [152]:
# 데이터 정보 파악
print(train.info())
print(test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4116 entries, 0 to 4115
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        4116 non-null   object
 1   gender            4116 non-null   object
 2   SeniorCitizen     4116 non-null   int64
 3   Partner           4116 non-null   object
 4   Dependents        4116 non-null   object
 5   tenure            4116 non-null   int64
 6   PhoneService      4116 non-null   object
 7   MultipleLines     4116 non-null   object
 8   InternetService   4116 non-null   object
 9   OnlineSecurity    4116 non-null   object
 10  OnlineBackup      4116 non-null   object
 11  DeviceProtection  4116 non-null   object
 12  TechSupport       4116 non-null   object
 13  StreamingTV       4116 non-null   object
 14  StreamingMovies   4116 non-null   object
 15  Contract          4116 non-null   object
 16  PaperlessBilling  4116 non-null   object
 17  PaymentMethod     4116 non-null   object
 18  TotalCharges      4116 non-null   float64
dtypes: float64(1), int64(2), object(16)
memory usage: 611.1+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1764 entries, 0 to 1763
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        1764 non-null   object
 1   gender            1764 non-null   object
 2   SeniorCitizen     1764 non-null   int64
 3   Partner           1764 non-null   object
 4   Dependents        1764 non-null   object
 5   tenure            1764 non-null   int64
 6   PhoneService      1764 non-null   object
 7   MultipleLines     1764 non-null   object
 8   InternetService   1764 non-null   object
 9   OnlineSecurity    1764 non-null   object
 10  OnlineBackup      1764 non-null   object
 11  DeviceProtection  1764 non-null   object
 12  TechSupport       1764 non-null   object
 13  StreamingTV       1764 non-null   object
 14  StreamingMovies   1764 non-null   object
 15  Contract          1764 non-null   object
 16  PaperlessBilling  1764 non-null   object
 17  PaymentMethod     1764 non-null   object
dtypes: int64(2), object(16)
memory usage: 248.2+ KB
None

In [154]:
# 결측치 개수 파악
print(train.isnull().sum().sum())
print(test.isnull().sum().sum())

0
0

In [156]:
# 목표 변수 분포 확인
print(train['TotalCharges'].describe())

count    4116.000000
mean     2566.580782
std      1911.356766
min        20.030000
25%      1020.922500
50%      2144.285000
75%      3765.670000
max      8589.600000
Name: TotalCharges, dtype: float64

In [158]:
# 데이터 전처리
# 목표 변수 분리
target = train.pop('TotalCharges')

In [166]:
# ID 변수 삭제
train.drop('customerID', axis=1, inplace=True)
test.drop('customerID', axis=1, inplace=True)

In [168]:
# 범주형 변수 원-핫 인코딩
combined = pd.concat([train, test])
combined_dummies = pd.get_dummies(combined)
n_train = len(train)
train = combined_dummies[:n_train]
test = combined_dummies[n_train:]

In [170]:
# 검증 데이터 분할
from sklearn.model_selection import train_test_split
X_train, X_val, Y_train, Y_val = train_test_split(train, target, test_size=0.2, random_state=0)

In [186]:
# 머신러닝 모델 학습
# 의사결정나무
from sklearn.tree import DecisionTreeRegressor
dt = DecisionTreeRegressor(max_depth=5, random_state=0)
dt.fit(X_train, Y_train)
pred = dt.predict(X_val)

In [188]:
# 모델 평가
from sklearn.metrics import mean_absolute_error
score = mean_absolute_error(Y_val, pred)
print(score)
# 1256.96348907767
# 935.1231478759449 (max_depth=5)

935.1231478759449

In [210]:
# xgboost
import xgboost as xgb
xg = xgb.XGBRegressor(random_state=0)
xg.fit(X_train, Y_train)
pred = xg.predict(X_val)

In [212]:
score = mean_absolute_error(Y_val, pred)
print(score)

1033.3863728784358

In [214]:
# 랜덤 포레스트
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(max_depth=5, n_estimators=500, random_state=0)
rf.fit(X_train, Y_train)
pred = rf.predict(X_val)

In [215]:
score = mean_absolute_error(Y_val, pred)
print(score)
# 949.6177326752966
# 914.4499668658017 (max_depth=5)
# 914.2298332116615 (max_depth=5, n_estimators=300)
# 914.0195044213503 (max_depth=5, n_estimators=500)

914.0195044213503

In [218]:
# 결과 예측 및 파일 생성
pred = rf.predict(test)
submit = pd.DataFrame({'pred':pred})
submit.to_csv('result.csv', index=False)

In [220]:
pd.read_csv('result.csv').head()

          pred
0  3403.934995
1   937.056887
2  3927.739950
3   923.680758
4  1302.028777

1. 주어진 데이터에서 로지스틱 회귀 분석을 수행해 유의확률이 0.05 이상인 유의하지 않은 독립변수의 개수를 구하시오. (종속변수 : Churn, 독립변수 : Churn을 제외한 모든 변수)

In [223]:
import pandas as pd
df = pd.read_csv('/Users/iseonjae/Desktop/빅데이터분석기사/8회기출/churn.csv')

In [225]:
print(df.shape)
print(df.head())
print(df.info())

(1000, 11)
   Churn  AccountWeeks  ContractRenewal  DataPlan  DataUsage  CustServCalls  \
0      0            51                1         0        1.0              0
1      1            61                1         0       -0.2              2
2      0            84                1         1       -1.3              2
3      0            65                1         0        1.0              1
4      0           154                1         0        1.0              0

   DayMins  DayCalls  MonthlyCharge  OverageFee  RoamMins
0    303.7        83           72.5         9.3       3.8
1    194.8        89           66.3        10.9      13.3
2    157.6       109           35.7        10.0      12.5
3    223.1       129           64.2         9.1       5.1
4    137.0       115           40.0         7.7       4.6
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Churn            1000 non-null   int64
 1   AccountWeeks     1000 non-null   int64
 2   ContractRenewal  1000 non-null   int64
 3   DataPlan         1000 non-null   int64
 4   DataUsage        1000 non-null   float64
 5   CustServCalls    1000 non-null   int64
 6   DayMins          1000 non-null   float64
 7   DayCalls         1000 non-null   int64
 8   MonthlyCharge    1000 non-null   float64
 9   OverageFee       1000 non-null   float64
 10  RoamMins         1000 non-null   float64
dtypes: float64(5), int64(6)
memory usage: 86.1 KB
None

In [227]:
# 로지스틱 회귀
from statsmodels.formula.api import logit
model = logit('Churn ~ AccountWeeks + ContractRenewal + DataPlan + DataUsage + CustServCalls + DayMins + DayCalls + MonthlyCharge + OverageFee + RoamMins', data=df).fit()
print(model.summary())

Optimization terminated successfully.
         Current function value: 0.393603
         Iterations 6
                           Logit Regression Results
==============================================================================
Dep. Variable:                  Churn   No. Observations:                 1000
Model:                          Logit   Df Residuals:                      989
Method:                           MLE   Df Model:                           10
Date:                Fri, 28 Nov 2025   Pseudo R-squ.:                 0.02367
Time:                        09:57:05   Log-Likelihood:                -393.60
converged:                       True   LL-Null:                       -403.14
Covariance Type:            nonrobust   LLR p-value:                   0.03924
===================================================================================
                      coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept          -2.2146      0.913     -2.425      0.015      -4.005      -0.424
AccountWeeks        0.0026      0.002      1.114      0.265      -0.002       0.007
ContractRenewal     0.1603      0.325      0.493      0.622      -0.477       0.798
DataPlan            0.2874      0.198      1.454      0.146      -0.100       0.675
DataUsage          -0.1698      0.072     -2.343      0.019      -0.312      -0.028
CustServCalls       0.1374      0.074      1.858      0.063      -0.008       0.282
DayMins            -0.0036      0.002     -2.092      0.036      -0.007      -0.000
DayCalls            0.0023      0.004      0.526      0.599      -0.006       0.011
MonthlyCharge       0.0042      0.005      0.778      0.436      -0.006       0.015
OverageFee         -0.0127      0.036     -0.352      0.725      -0.084       0.058
RoamMins            0.0098      0.034      0.292      0.770      -0.056       0.076
===================================================================================

In [235]:
# 유의확률 0.05 이상인 독립변수 개수 구하기
print(sum(model.pvalues >= 0.05))

8

2. 유의확률이 0.05 미만인 유의한 변수만을 사용해 다시 로지스틱 회귀 분석을 수행하시오. 이 회귀식의 유의한 회귀 계수(상수항 포함)의 합계를 구하시오. (반올림하여 소수 셋째 자리까지 계산)

In [238]:
model.pvalues < 0.05

Intercept           True
AccountWeeks       False
ContractRenewal    False
DataPlan           False
DataUsage           True
CustServCalls      False
DayMins             True
DayCalls           False
MonthlyCharge      False
OverageFee         False
RoamMins           False
dtype: bool

In [240]:
model2 = logit('Churn ~ DataUsage + DayMins', data=df).fit()
print(model2.summary())

Optimization terminated successfully.
         Current function value: 0.397599
         Iterations 6
                           Logit Regression Results
==============================================================================
Dep. Variable:                  Churn   No. Observations:                 1000
Model:                          Logit   Df Residuals:                      997
Method:                           MLE   Df Model:                            2
Date:                Fri, 28 Nov 2025   Pseudo R-squ.:                 0.01375
Time:                        09:59:12   Log-Likelihood:                -397.60
converged:                       True   LL-Null:                       -403.14
Covariance Type:            nonrobust   LLR p-value:                  0.003908
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     -1.0395      0.303     -3.434      0.001      -1.633      -0.446
DataUsage     -0.1697      0.071     -2.376      0.017      -0.310      -0.030
DayMins       -0.0039      0.002     -2.264      0.024      -0.007      -0.001
==============================================================================

In [262]:
# 유의한 회귀계수 합 구하기
print(round(model2.params[model2.pvalues<0.05].sum(), 3))

-1.213

3. 2번에서 수행한 로지스틱 회귀식에서 'DataUsage' 변수가 5만큼 증가할 때 오즈비를 구하시오. (반올림하여 소수 셋째 자리까지 계산)

In [267]:
import numpy as np
print(round(np.exp(model2.params['DataUsage']*5), 3))

0.428

1. 주어진 데이터를 이용해 종속변수(PIQ)와 독립변수(Brain, Height, Weight)로 다중 선형 회귀 분석을 수행하시오. 이때 유의확률이 가장 작은 변수의 회귀계수 값을 구하시오. (반올림하여 소수 셋째 자리까지 계산)

In [270]:
import pandas as pd
df = pd.read_csv('/Users/iseonjae/Desktop/빅데이터분석기사/8회기출/piq.csv')

In [272]:
print(df.shape)
print(df.head())
print(df.info())

(50, 4)
   PIQ  Brain  Height  Weight
0  132  85.78    62.5     127
1   96  86.54    68.0     135
2   84  90.49    66.3     134
3  134  79.06    62.0     122
4   86  88.91    70.0     180
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   PIQ     50 non-null     int64
 1   Brain   50 non-null     float64
 2   Height  50 non-null     float64
 3   Weight  50 non-null     int64
dtypes: float64(2), int64(2)
memory usage: 1.7 KB
None

In [274]:
# 다중 선형 회귀
from statsmodels.formula.api import ols
model = ols('PIQ ~ Brain + Height + Weight', data=df).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                    PIQ   R-squared:                       0.370
Model:                            OLS   Adj. R-squared:                  0.329
Method:                 Least Squares   F-statistic:                     9.024
Date:                Fri, 28 Nov 2025   Prob (F-statistic):           8.25e-05
Time:                        10:14:10   Log-Likelihood:                -217.27
No. Observations:                  50   AIC:                             442.5
Df Residuals:                      46   BIC:                             450.2
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     74.5114     50.564      1.474      0.147     -27.269     176.292
Brain          2.3431      0.456      5.141      0.000       1.426       3.261
Height        -2.6444      1.064     -2.485      0.017      -4.786      -0.503
Weight         0.0406      0.167      0.243      0.809      -0.296       0.377
==============================================================================
Omnibus:                        8.608   Durbin-Watson:                   2.386
Prob(Omnibus):                  0.014   Jarque-Bera (JB):                2.629
Skew:                           0.041   Prob(JB):                        0.269
Kurtosis:                       1.880   Cond. No.                     3.48e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.48e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [284]:
# 유의확률이 가장 작은 변수의 회귀계수 구하기
model.pvalues.idxmin()
print(round(model.params['Brain'], 3))

2.343

2. 1번에서 적합한 모델의 결정 계수 값을 구하시오. (반올림하여 소수 둘째 자리까지 계산)

In [291]:
print(round(model.rsquared, 2))

0.37

3. 뇌 크기가 90, 키가 70, 몸무게가 150일 때의 PIQ를 예측하시오. (반올림하여 정수로 계산)

In [304]:
new_data = pd.DataFrame({'Brain':[90], 'Height':[70], 'Weight':[150]})
print(round(model.predict(new_data)[0]))

106